# Classifying stars

Processed and balanced data obtained from [Kaggle](https://www.kaggle.com/vinesmsuic/star-categorization-giants-and-dwarfs)

I will used this data set to test out the XGBoost classifier. Information on the dataset is as follows:

        Stellar Classification uses the spectral data of stars to categorize them 
        into different categories.
        
        The modern stellar classification system is known as the Morgan–Keenan (MK)
        classification system. It uses the old HR classification system to categorize
        stars with their chromaticity and uses Roman numerals to categorize the star’s
        size.
        
        In this Dataset, we will be using Absolute Magnitude and B-V Color Index to
        Identify Giants and Dwarfs (`TargetClass`).

Classifying stars based on their `TargetClass` as being either:
- Star is a Dwarf (0)
- Star is a Giant (1)

In [1]:
#load libraries
import pandas as pd
import numpy as np

In [2]:
#read in zip file

star_df = pd.read_csv('data/Star39552_balanced.csv.zip')

# Quick EDA

In [3]:
star_df.describe(include='all')

,Vmag,Plx,e_Plx,B-V,SpType,Amag,TargetClass
count,39552.000000,39552.000000,39552.000000,39552.000000,39552,39552.000000,39552.000000
unique,NaN,NaN,NaN,NaN,2576,NaN,NaN
top,NaN,NaN,NaN,NaN,K0III,NaN,NaN
freq,NaN,NaN,NaN,NaN,2841,NaN,NaN
mean,7.921309,7.117378,1.109705,0.744336,NaN,16.050687,0.500000
std,1.308857,12.446291,0.788133,0.513987,NaN,2.443937,0.500006
min,-0.620000,-27.840000,0.420000,-0.400000,NaN,-0.350000,0.000000
25%,7.210000,2.430000,0.800000,0.358000,NaN,14.756514,0.000000
50%,8.160000,4.440000,0.990000,0.703000,NaN,16.020827,0.500000
75%,8.830000,8.232500,1.230000,1.129000,NaN,17.590542,1.000000
max,12.850000,772.330000,40.630000,3.440000,NaN,30.449015,1.000000

All numeric apart from `SPtype` and `TargetClass` (which is numeric but only 0 or 1)

In [7]:
#check missing
star_df.isnull().sum()

Vmag           0
Plx            0
e_Plx          0
B-V            0
SpType         0
Amag           0
TargetClass    0
dtype: int64

In [ ]:
# pairs plot to have a look at the data