Following the tutorial outlined here:
https://machinelearningmastery.com/modeling-pipeline-optimization-with-scikit-learn/

In [10]:
from pandas import read_csv, DataFrame, unique
from numpy import ravel
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier # may need a different model here
from sklearn.feature_selection import VarianceThreshold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Normalizer, StandardScaler, MinMaxScaler, PowerTransformer, MaxAbsScaler, LabelEncoder
from sklearn.model_selection import GridSearchCV

In [3]:
#use the tutorial dataset for now

ecoli_data = read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/ecoli/ecoli.data", sep = "\s+", header=None)
ecoli_data.head()

            0     1     2     3    4     5     6     7   8
0   AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1  ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2  ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3  ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4   ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp

In [12]:
ecoli_data.iloc[:,8].unique()

array(['cp', 'im', 'imS', 'imL', 'imU', 'om', 'omL', 'pp'], dtype=object)

The last label is the class label - separate into features and class label datasets. 2/3 training and 1/3 test.